@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    background-color: #FDF4F5;
    font-family: 'Montserrat', sans-serif;
}

li {
    color: grey;
    padding-top: 3px;
    font-size: 15px;
}

button {
    background-color: #E8A0BF;
    border: none;
    border-radius: 10px;
    padding:3px 8px;
    margin-left: 10px;
    color: whitesmoke;
}
.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }